{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
	Rainfall chart
{% endblock %}

{%block content%}
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{%url 'rainfall:graph'%}" method="POST" class="form">
		{% csrf_token %}
		{% bootstrap_form form layout='horizontal' %}
	    {% buttons %}
		
		<button type="submit" class="btn btn-primary">
	      {% bootstrap_icon "star" %} Show
	    </button>
	    {% endbuttons %}
	</form>
{% endblock %}